name: Keep Vercel Alive

on:
  schedule:
    # Runs every 15 minutes
    - cron: '*/15 * * * *'
  workflow_dispatch: # Allows you to run it manually from GitHub UI if needed

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Frontend
        run: curl -I https://causal-funnel-sde-assignment.vercel.app/
      - name: Ping Backend
        run: curl -I https://causal-funnel-sde-assignment-9zcs.vercel.app/health